
html {width: 100%;}
body {
  padding: 0;
  background-color: #99D6DB;
  width: 100%;
}

.container {
  margin: auto;
  width: 50%;
  background-color: white;
  padding: 0.5%;
}

h1 {
  background-color: #CF6A23;
  display: inline-block;
  color: white;
  font-weight: bold;
  font-size: 2rem;
  padding: 1rem 0.5rem;
  width: 100%;
  box-sizing: border-box;
  text-align: center;
}
#instructions  {
  background-color:#FFE3C6;
  color: #037C7E;
  width: 100%;
  margin: 0.5rem 0;
  font-size: 1.2rem;
}
p {
  padding: .75rem 1rem;
}

h2, h3 {
  font-weight: bold;
  font-size: 1.5rem;
  padding: 0.5rem;
}

h3 {
  font-size: 2rem;
  text-align: center;
}

#goal-container {
  background-color: #3CB374;
  width: 48%;
  display: block;
  float: left;
  height: 8rem;
  float: left;
  margin-right: .5%;
}

#win-loss-container {
  background-color: #02FEFF;
  width: 48%;
  display: block;
  float: right;
  height: 8rem;
}

#crystal-container { 
  margin: 0.5rem auto;
  display: flex;
  justify-content: space-around;
  width: 100%;
  background-color: white;

}
button {
  height: 5rem;
  width: 5rem;
  border: none;
  background-repeat: no-repeat;
  background-position: center;
  background-color: white;
}
button:hover {
  cursor: pointer;
}
#blue {
  background-image: url(blue.png);
}
#green {
  background-image: url(green.png);
}
#red {
  background-image: url(red.png);
}
#yellow {
  background-image: url(yellow.png);
}
#score-container {
  background-color: #037C7E;
  color: white;
  width: 100%;
  height: 7rem;
}